@model List<Bootcamp>;

@await Html.PartialAsync("_Header")
<div class="row">
    @foreach (var btc in Model)
    {
        @if(@btc.isHome && @btc.isActive){

        <div class="card m-3" id="@btc.id" style="width: 18rem;">
            <img src="~/img/@btc.Image" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@btc.Title</h5>
                <p class="card-text">@btc.Description</p>
                <a asp-controller="Bootcamp" asp-action="Details" asp-route-id="@btc.id" class="btn btn-success">Detay</a>
            </div>
        </div>
        }
    }
</div>